---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("February 21 2026")}
>
	<p data-i18n="about.p1">Build cool software and study data & AI.</p>
	<p data-i18n="about.p2">
		Eu moro em Leme, São Paulo, Brasil. Atualmente atuo como Engenheiro de
		Automações no Grupo Guanabara. Estou sempre criando coisas novas no meu
		GitHub e projetos que sejam úteis de usar.
	</p>
</Layout>
