---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("February 21 2026")}
>
	<p data-i18n="about.p1">Build cool software and study data & AI.</p>
	<p data-i18n="about.p2" class="text-justify">
		Hi, I’m David Molizane, a 21-year-old Brazilian Computer Engineering student
		at Fundação Hermínio Ometto. Currently, I work as an Automation Engineer at
		Grupo Guanabara, and I am transitioning into an AI and Data-driven software
		career within the same group. I am passionate about studying mathematics,
		coding, machine learning, encryption, and various other fields of computer
		science. In my free time, I really enjoy playing Halo and Crash Bandicoot.
	</p>
</Layout>
